:scss
  .script_text textarea { width: 100%; height: 100px}

- if @level.filename
  = "Filename: #{@level.filename}"
.field
  = f.label :encrypted, 'Encrypt this entire file'
  %p Use this if you want to prevent devious students from finding answers in our git repo
  = boolean_check_box f, :encrypted
.script_text
  = text_area_tag('level[dsl_text]', @level.dsl_text || (@level.dsl_default))

= render partial: 'levels/editors/markdown', locals: {dsl: true}
